* {
    font-family: 'Normal', Helvetica, sans-serif;
}

@font-face {
    font-family: 'Paper';
    src: url(/fonts/notedry/Notedry\ Base.otf);
}
@font-face {
    font-family: 'Normal';
    src: url(/fonts/Karma\ Suture.otf);
}
@font-face {
    font-family: 'Header2';
    src: url(/fonts/super-pixel-font/SuperPixel-m2L8j.ttf);
}
main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    margin-left: 20%;
    margin-right: 20%;

}
body {
    background-color: rgb(8, 8, 8);
    color: aliceblue;
}

.title {
    font-size: 60px;
    margin-bottom: 10px;
}

.title_link {
    margin-bottom: 50px;
}

a { 
    color: aquamarine;
}

h1 {
    font-family: 'Paper', sans-serif;
    font-size: 28px;
    margin: 0;
    margin-top: 60px;
}
h2 {
    font-family: 'Header2', sans-serif;
    font-style: italic;
    font-weight: 500;
}
img {
    border-radius: 20px;
}

ul { 
    display: flex;
}

ul button {
    margin-right: 10px;
}

.medium-button {
    width: 100px;
    height: auto;
    border-radius: 10px;
    justify-content: center;
}

.parent-part {
    margin: 50px;
}

.parent-generator {
    border-radius: 20px;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 59, 79);
    margin: 20px;
    padding: 20px;
}

.parent-generator button {
    display: flex;
    margin-left: auto;
    padding: 10px;
}

.generator-title{
    text-align:center;
}

.parent-part-p {
    text-align:center;
    color: gray;
}

.custom-line{
    border: 10px;
    border-color: gray;
    width: 60vw;
    height: 3px;
    background-color: antiquewhite;
    margin: 20px 0;       
}

footer{
    padding: 20px;
    justify-content: center;
    text-align: center;
}

footer p {
    margin: 30px;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* i have no idea what this means */
  gap: 16px; 
  padding: 16px;
}

.gallery-item img {
  width: 100%;
  height: 600px;        

  object-fit: scale-down;         
  border-radius: 8px;         
  transition: transform 0.3s ease; 
}

.gallery-item img:hover {
  transform: scale(1.03); 
}